---
import logoImage from '../assets/logo.png';

---


<!-- Header -->
<header>
<div class="logo-container">
    <img src={logoImage.src} alt="DTing Toolkit Logo" class="header-logo" />
    <div class="logo-text">DTing <span class="logo-accent">Toolkit</span></div>
</div>
<div>
    <a href="https://github.com" target="_blank" class="reset-btn" style="border: 1px solid rgba(255,255,255,0.08); background: rgba(255,255,255,0.02);">
    <i class="fa-brands fa-github"></i> GitHub
    </a>
</div>
</header>